name: Build/Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  static-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install protobuf-compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: Run clippy
        run: cargo clippy -- -D warnings
      - name: Run rustfmt
        run: cargo fmt --all --check
  
  test-unit:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        backend: ["blstrs", "arkworks"]
    steps:
      - uses: actions/checkout@v2
      - name: Install protobuf-compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: Swatinem/rust-cache@v2
      - name: Run test
        run: cargo test --no-default-features --features ${{ matrix.backend }}
  
  test-integration-dkg:
    runs-on: ubuntu-latest
    name: dkg
    strategy:
      fail-fast: false
      matrix:
        backend: ["blstrs", "arkworks"]
        scheme: ["pedersen-bls-chained", "pedersen-bls-unchained", "bls-unchained-g1-rfc9380", "bls-bn254-unchained-on-g1"]
    steps:
      - uses: actions/checkout@v2
      - name: Install protobuf-compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: Run test
        env:
          DRAND_TEST_SCHEME: ${{ matrix.scheme }}
          RUSTFLAGS: "-D warnings"
        run: cargo test --no-default-features --features "test-integration ${{ matrix.backend }}"  -- test_with_golang::dkg::all_roles_dkg --exact --show-output
  
  test-integration-chain-follow:
    runs-on: ubuntu-latest
    name: follow
    strategy:
      fail-fast: false
      matrix:
        backend: ["blstrs", "arkworks"]
        scheme: ["pedersen-bls-chained", "pedersen-bls-unchained", "bls-unchained-g1-rfc9380", "bls-bn254-unchained-on-g1"]
    steps:
      - uses: actions/checkout@v2
      - name: Install protobuf-compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: Run test
        env:
          DRAND_TEST_SCHEME: ${{ matrix.scheme }}
          RUSTFLAGS: "-D warnings"
        run: cargo test --no-default-features --features "test-integration ${{ matrix.backend }}"  -- test_with_golang::chain::follow_chain --exact --show-output

  test-integration-chain-sync:
    runs-on: ubuntu-latest
    name: sync
    strategy:
      fail-fast: false
      matrix:
        backend: ["blstrs", "arkworks"]
        scheme: ["pedersen-bls-chained", "pedersen-bls-unchained", "bls-unchained-g1-rfc9380", "bls-bn254-unchained-on-g1"]
    steps:
      - uses: actions/checkout@v2
      - name: Install protobuf-compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: Run test
        env:
          DRAND_TEST_SCHEME: ${{ matrix.scheme }}
          RUSTFLAGS: "-D warnings"
        run: cargo test --no-default-features --features "test-integration ${{ matrix.backend }}"  -- test_with_golang::chain::sync --exact --show-output